/* esercizio 1 */
*{
  background-color: red;
}
.ex-1-square{
  background-color: red;
}
/* .ex-1-square:hover{
  transition: background 2s, linear ;
} */
/* esercizio 1 */

/* esercizio 2 */
/* esercizio 2 */

/* esercizio 3 */
/* esercizio 3 */

/* esercizio 4 */
/* esercizio 4 */

/* esercizio 5 */
/* esercizio 5 */

/* esercizio 6 */
/* esercizio 6 */

/* esercizio 7 */
/* esercizio 7 */

/* esercizio 8 */
/* esercizio 8 */

/* esercizio 9 */
/* esercizio 9 */

/* esercizio 10 */
/* esercizio 10 */

/* esercizio 11 */
/* esercizio 11 */

/* esercizio 12 */
/* esercizio 12 */

/* esercizio 13 */
/* esercizio 13 */
